<tr>
  <td>
   <%= link_to admin_order_path(order.id) do %>
    <%=order.id%>
    <% end %>
  </td>
  <td>
    <%= humanized_money_with_symbol order.total_cents / 100 %>
  </td>
  <td>
    <%=order.email%>
  </td>
</tr>
