.signup-form {
	width: 450px;
	margin: 0 auto;
	padding: 30px 0;
	font-size: 15px;
}

.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.500);
	padding: 30px;
}

.form-control {
	height: 40px;
	box-shadow: none;
	color: #969fa4;
}

.signup-form h2 {
	color: #636363;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}
.signup-form h2:before, .signup-form h2:after {
	content: "";
	height: 2px;
	width: 30%;
	background: #d4d4d4;
	position: absolute;
	top: 50%;
	z-index: 2;
}	
.signup-form h2:before {
	left: 0;
}
.signup-form h2:after {
	right: 0;
}
.signup-form .hint-text {
	color: #999;
	margin-bottom: 30px;
	text-align: center;
}
.signup-form .form-group {
	margin-bottom: 20px;
}

.signup-form .login-btn {        
	color: #fff;
	border-radius: 4px;
	background: #60c7c1 !important;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.signup-form .login-btn:focus, .signup-form .login-btn:hover {        
	background: #45aba6 !important;
	outline: none;
}
